#dialog-container {
    div {
        border: 1px solid green   
    }

    .dialog-content {
        padding: 20px;
        border: 1px solid blue;
    }
}

#input-container {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

form {
    border: 1px solid red;
}